{% extends "base.html" %}
{% block content %}
<div class="container">
  <h3 class="center-align">Add Recipe</h3>
  <div class="row card-panel grey lighten-3">
    <form class="col s12" method="POST" action="">
      <div class="row">
        <div class="input-field col s12">
          <i class="fa-duotone fa-book-open prefix"></i>
          <input id="recipe_title" name="recipe_title" minlength="5" maxlength="50" type="text" class="validate">
          <label for="recipe_title">Recipe Title</label>
        </div>
        <div class="input-field col s12">
          <i class="fa-regular fa-knife-kitchen prefix"></i>
          <input id="recipe_description" name="recipe_description" minlength="5" maxlength="100" type="text"
            class="validate">
          <label for="recipe_description">Recipe Description</label>
        </div>
        <div class="input-field col s12">
          <i class="fa-regular fa-salad prefix"></i>
          <input id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate">
          <label for="recipe_ingredients">Ingredients</label>
        </div>
        <div class="input-field col s12">
          <i class="fa-solid fa-person-chalkboard prefix"></i>
          <input id="cooking_instructions" name="cooking_instructions" type="text" class="validate">
          <label for="cooking_instructions">Cooking Instructions</label>
        </div>
        <div class="input-field col s12">
          <i class="fa-solid fa-timer prefix"></i>
          <input id="cooking_time" minlength="5" maxlength="30" name="cooking_time" type="text" class="validate">
          <label for="cooking_time">Cooking Time</label>
        </div>
        <div class="input-field col s12">
          <select id="recipe_type" name="recipe_type">
            <option value="All" selected>Choose your recipe type</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Vegan">Vegan</option>
          </select>
          <label for="recipe_type">Recipe Type</label>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <button type="submit" class="btn-large text-shadow"><i class="fa-solid fa-plus"></i> Add Recipe</button>
    </div>
  </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
  });
</script>


{% endblock %}