{% extends "base.html" %}
{% block content %}

<h4 class="center-align darken-4">Welcome to Green Cuisine - Your Home for Vegan & Vegetarian Recipes</h4>

<div class="row">
  <div class="col s12 m4">
    <div class="card large">
      <div class="card-image">
        <img src="static/images/devices-homepage-images/vegetarian-egg-image.jpeg" alt="A vegetarian egg dish">
      </div>
      <div class="card-content">
        <p class="vegetable-images">Welcome to Green Cuisine, a vibrant online haven devoted to all things plant-based.
        </p>
        <p class="vegetable-images">Whether you're a dedicated vegan, a flexitarian, or simply a curious food lover
          seeking to
          use more veggies into your meals, you've come to the right place.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card large">
      <div class="card-image">
        <img src="static/images/devices-homepage-images/happy-lady-cooking.jpeg" alt="Lady choosing a dish">
      </div>
      <div class="card-content">
        <p class="vegetable-images">Once you've gone through our simple registration process, you can then log in and
          get started on sharing your best dishes and 'pinching' some others</p>
        <p class="vegetable-images">You can choose to add and update your own recipes and also view a wide variety of
          dishes from fellow lovers of vegetables!</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card large">
      <div class="card-image">
        <img src="static/images/devices-homepage-images/vegan-heart-bowl.jpeg" alt="heart shaped bowl of vegetables">
      </div>
      <div class="card-content">
        <p class="vegetable-images">At the foot of this page, we've provided links to the 3 most used websites for vegan
          and vegetarian information on the web over the last 3 months!</p>
        <p class="vegetable-images">Finally, we hope you enjoy the site and look forward to seeing new ideas for plant
          based dishes!</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}